<h1>About</h1>
	<div class="about-text center">
		<p>Thank you for taking the time to browse through my website. </p>

		<p>My love for photography started at a young age when my late father bought me my first digital camera. I was notorious for always having my little camera in my bag and friends knew they could rely on me to capture special memories. It was only much later, however, that I was able to save up for my first DSLR camera!  My passion grew with every click of the shutter, and what started as simply a hobby fast became something more professional.</p>

		<p>I am an Occupational Therapist by profession and have been working in the field of paediatrics for the last five years. I have many blessings to be thankful for, one of which is my incredible family. I have a tall, dark and handsome husband and a beautiful daughter, Sienna (who is photographed A LOT!). Following the birth of my little girl in early 2014 I resigned from full time OT to focus on my role as a mother and to devote more of my time to photography.</p>

		<p>My style of photography is natural – I am a lifestyle photographer - and I aim to capture photographs that reflect the personalities of the individuals and therefore every shoot is slightly different. I love photography for many reasons – how something ordinary can be seen as extraordinary; finding those moments and angles filled with captivating, glorious light, and freezing a special, stolen moment between people… but most of all I love the way photographs tell a story. For me they are a visual narrative of a season in one’s life, of relationships between people, and of emotions unsaid and stories untold. There are so often moments in one’s life where words just do not suffice and for me this can often be captured in a photograph. It is a privilege to capture these moments for individuals and families and turn cherished memories into lifelong keepsakes. </p>

		<p>If you would like to book a shoot with me, or simply want more information, please get in touch! I would love to hear from you!</p>
	</div>