<% provide(:title, 'Packages') %>

<div class="container">
	<h1 class="center">Packages</h1>
	<p class="center">Please contact me for price lists and package information.</p>

	<div class="image-bar-outer">
		<div class="image-bar-item">
			<%= image_tag("2014-11-16_001.jpg") %>
		</div>
		<div class="image-bar-item">
			<%= image_tag("2014-11-16_002.jpg") %>
		</div>
		<div class="image-bar-item">
			<%= image_tag("2014-11-16_004.jpg") %>
		</div>
	</div>	





</div>