<div class="container">
<div class="row">
   <div class="col-xs-12 col-md-4">
  	<span class="center gallery"><h2><%= @shoots %></h2></span>
  	
    <a href="#" class="thumbnail">
      <%= image_tag("GalleryButtons/NewBorn.png", alt: "Facebook")%>
    </a>
</div>
</ul>
</div>