<h1>Index</h1>

<div class="container">
<div class="row">
  <% @shoots.each do |shoot| %>
   <div class="col-xs-12 col-md-4">
  	<span class="center gallery"><h2><%= shoot.name%></h2></span>
  	<span class="center gallery"><h2><%= shoot.catagory%></h2></span>
    <a href="#" class="thumbnail">
      <%= image_tag("GalleryButtons/NewBorn.png", alt: "Facebook")%>
    </a>
</div>
  <% end %>
</ul>
</div>