<% provide(:title, 'New Shoot') %>
<h1>New Photo</h1>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <%= form_for(@photo) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Submit New Photo", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>