@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.Logo IMG {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 220px;
    }

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* Nav */

.navbar-default{
  background-color: rgba(0, 0, 0, 0);
  border-top:3px solid #a8dbc8;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  margin-bottom: -18px;
  
}

.navbar-nav li{
    display:inline;
    padding-left: 145px;
    font-size: 20px;
    }

.dropdown li {
    font-size: 12px;
    }

 .heart {
  display: block;
  margin-top: 0px;
    margin-left: auto;
    margin-right: auto; 
    width: 350px;
    padding-top: 0px
    
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.social {
margin-top: 10px;
  background-color: #a8dbc8;
  height: 65px;
}
.social-inner{
  
}
.social IMG {
padding-left: 0px;
margin-left: 0px;
float: left;
width:40px;

}
.social ul {
  padding-left:430px;
  padding-top:0px;
  margin-top:0px;
}
.social li {
    border-diameter: 50;
    border-width: 5px;
    border-color: #eaeaea;
    padding-left: 20px; 
}