@import "bootstrap";

/* universal */

@font-face {
    font-family: 'CaviarDreams'; 
    src: url('/assets/fonts/CaviarDreams.ttf');
}

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
p {
  font-family: 'CaviarDreams';
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'CaviarDreams';
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
  font-family: 'CaviarDreams';
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.Logo IMG {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5px; 
    margin-bottom: 20px; 
    width: 220px;
    }



/* Nav */

.navbar-default{
  background-color: rgba(0, 0, 0, 0);
  border-top:3px solid #a8dbc8;
  border-left:0px;
  border-right:0px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
  border-radius: 0px;
    

}

.navbar-nav li{
    display:inline;
    padding-left: 145px;
    font-size: 20px;
    font-family: 'CaviarDreams';
    }



/* footer */

footer {
  margin-top:5px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
.social {
margin-top:20px;
  background-color:#a8dbc8;
}

.social ul li{
  display: inline;
}
.social-inner{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width:25em;
}
.social IMG {
  padding-top:10px;
  padding-bottom:10px;
  padding-left:30px;
  height:60px;
}

 /* Gallery */

 .thumbnail {
border-width: 1px;
border-color: white;

 }
 .gallery h2{
 margin-top:0px;
 margin-bottom:5px;
 }

 .social-first{
 padding-left:0px;
 }

  .social-first a{
 padding-left:0px;
 }

  .social-first IMG{
 padding-left:0px;
 }

 /* dropdown */

 .dropdown-menu{
 width: 5px;
 margin-left:145px;
 }

 .dropdown-menu li{
 font-size:0px;
 
 }
 .dropdown-menu a{
 font-size:12px;
 
 }

 /* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
    
}

.fcenter form{
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;

}
input {
  height: auto !important;
   
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* Photos */

.photo {
   width: 950px ;
  margin-left: auto ;
  margin-right: auto ;
  
}

.photo IMG {
  margin-bottom: 10px;
}


.adminphoto IMG {
  width: 100px
}


/*shoot edit and index */

.photo-index{
  float: right;
  width: 50%

}
.photo-list{
  position: relative;
  width:35em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 .index-photo{
      
    position: relative;
    border: 2px solid lightgrey;
    width: 50%;
    display: block;
   margin-right: auto;
   margin-left:auto;
    
    IMG{
    display: block;
    width: 12em;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 1em;
    }
  }
  .index-control {
    width: 12em;
     display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 1em;
    a {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
    }
  }

  .index-add-photo {
   width: 12em;
     display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 1em;
    margin-bottom: 1em;
    a {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
    }
  }

.shoot-view{
  float: left;
  width: 50% ;

}

.shoot-thumbnail{
  position: relative;
  width: 30em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  IMG {
    position:relative;
    width: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
}
.shoot-controls {
    width: 12em;
     display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 1em;
    a {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
    }
  }

.about-text{
  width:50em;
  display: block;
  margin-right: auto;
  margin-left: auto;

}

.form-inner{
  width: 20em;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.btn-primary{
  background-color: #a8dbc8;
  border: #a8dbc8;
  
}
.btn-primary:hover{
  background-color: #C7E8DC;
}

.alert-success{
  background-color: #a8dbc8;
  font-family: 'CaviarDreams';
}